# Core Scientific Computing
numpy
pandas
scipy

# Data Visualization
matplotlib
seaborn
plotly

# Machine Learning
scikit-learn
joblib

# Deep Learning (PyTorch)
torch
torchvision
torchaudio
torchinfo
torchmetrics

# Image Processing
opencv-python
Pillow
albumentations
imageio

# Model Utilities
tqdm
tensorboard

# Web Application
streamlit
gradio
django

# Geospatial Librariesclear
rasterio
geopandas
shapely
fiona
pyproj

# Utilities
python-dotenv

# Excel Support
openpyxl
xlrd

# Jupyter (Optional)
jupyter
ipykernel
notebook